<!--<div id="imgLogo"><img src="../../../assets/Logo.png" alt="Logo"></div>
<div id="botoesDeDirecionamento" class="d-flex flex-column">
    <button id="btnAgenda">Agenda</button>
    <button id="btnPacientes">Pacientes</button>
    <button id="btnCadastro">Cadastro</button>
</div>-->

<div class="d-flex vh-100 vw-100 justify-content-between flex-wrap">
    
    <nav id="botoesDeDirecionamento" class="d-flex flex-column flex-shrink-0 p-3 mt-2 ms-2" style="width: 280px;">
        <img class="logo ms-3" src="../../../assets/Logo.png" alt="Logo da Empresa">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item m-2">
                <a class="text-decoration-none" routerLink="/agendamento"><button id="btnAgenda" class="botaoMenu rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Agendamento</button></a>
            </li>
            <li class="nav-item m-2">
                <a class="text-decoration-none" routerLink="/pacientes"><button id="btnPacientes" class="botaoMenu rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Pacientes</button></a>
            </li>
            <li class="nav-item m-2">
                <a class="text-decoration-none" routerLink="/cadastro"><button id="btnCadastro" class="botaoMenu rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Cadastro</button></a>
            </li>
        </ul>
    </nav>

    <section id="cadastroPessoa" class="mt-5">
            <div id="tituloPessoa" class="text-white fw-bold mt-4 me-4 mb-5 p-0 text-center">
               <h1>Cadastro Pessoal</h1>
            </div>
            
            <form [formGroup]="formularioPessoa" class="formulario">
                <div class="inputsPessoa flex-wrap">
                    <label for="nomePessoa">Nome: </label>
                    <input formControlName="nome" type="text" class="rounded-5 border-1 border-light" id="nomePessoa" placeholder="Nome...">
                    <div class="d-flex w-100 justify-content-end">
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('nome')?.errors?.['required'] && formularioPessoa.get('nome')?.touched">
                            <p class="text-danger">Preencha o campo Nome!</p>
                        </div>
                    </div>                
                </div>
                <div class="inputsPessoa flex-wrap">
                    <label for="nomePessoa">Data de nascimento: </label>
                    <input formControlName="dataNasc" type="date" class="rounded-5 border-1 border-light" id="dataNasc">
                    <div class="d-flex w-100 justify-content-end">
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('dataNasc')?.errors?.['required'] && formularioPessoa.get('dataNasc')?.touched">
                            <p class="text-danger">Preencha o campo Data de Nascimento!</p>
                        </div>
                    </div>
                </div>
                <div class="inputsPessoa flex-wrap">
                    <label for="nomePessoa">Gênero: </label>
                    <select id="selectSexoMedico" class="CaixaSelect rounded-5 p-2 border-light">
                        <option value="M" selected>Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
                <div class="inputsPessoa flex-wrap">
                    <label for="nomePessoa">CPF: </label>
                    <input formControlName="cpf" type="text" class="rounded-5 border-1 border-light" id="cpfMedico" placeholder="xxx.xxx.xxx-xx" autocomplete="off">
                    <div class="d-flex w-100 justify-content-end">
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('cpf')?.errors?.['required'] && formularioPessoa.get('cpf')?.touched">
                            <p class="text-danger">Preencha o campo CPF!</p>
                        </div>
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="(formularioPessoa.get('cpf')?.errors?.['minlenght'] || formularioPessoa.get('cpf')?.errors?.['maxlenght'] || formularioPessoa.get('cpf')?.errors?.['pattern']) && formularioPessoa.get('cpf')?.touched">
                            <p class="text-danger">CPF Inválido!</p>
                        </div>
                    </div>
                </div>
                <div class="inputsPessoa flex-wrap">
                    <label for="nomePessoa">Telefone: </label>
                    <input formControlName="telefone" type="text" class="rounded-5 border-1 border-light" id="telefoneMedico" placeholder="(xx)xxxxx-xxxx" autocomplete="off">
                    <div class="d-flex w-100 justify-content-end">
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('telefone')?.errors?.['required'] && formularioPessoa.get('telefone')?.touched">
                            <p class="text-danger">Preencha o Telefone!</p>
                        </div>
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="(formularioPessoa.get('telefone')?.errors?.['minlenght'] || formularioPessoa.get('telefone')?.errors?.['maxlenght'] || formularioPessoa.get('telefone')?.errors?.['pattern']) && formularioPessoa.get('telefone')?.touched">
                            <p class="text-danger">Telefone Inválido!</p>
                        </div>
                    </div>
                </div>
                <div class="inputsPessoa flex-wrap">
                    <label for="nomePessoa">E-mail: </label>
                    <input formControlName="email" type="email" class="rounded-5 border-1 border-light" id="emailMedico" placeholder="exemplo@gmail.com" autocomplete="off">
                    <div class="d-flex w-100 justify-content-end">
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('email')?.errors?.['required'] && formularioPessoa.get('email')?.touched">
                            <p class="text-danger">Preencha o Email!</p>
                        </div>
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('email')?.errors?.['email'] && formularioPessoa.get('email')?.touched">
                            <p class="text-danger">Email Inválido!</p>
                        </div>
                    </div>
                </div>
                <div class="inputsPessoa flex-wrap">
                    <label for="nomePessoa">Endereço: </label>
                    <input formControlName="endereco" type="text" class="rounded-5 border-1 border-light" id="enderecoMedico" placeholder="Nº, Rua, Bairro, Cidade, UF">
                    <div class="d-flex w-100 justify-content-end">
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('endereco')?.errors?.['required'] && formularioPessoa.get('endereco')?.touched">
                            <p class="text-danger">Preencha o Endereco!</p>
                        </div>
                    </div>
                </div>
                <div class="inputsPessoa mt-0 flex-wrap">
                    <div class="d-flex align-items-center">
                        <input type="radio" name="planoOuCrm" id="planoOuCrm1" class="radioPlanoCRM" checked>
                        <label for="planoOuCrm1" class="ms-1">Plano de saúde</label>
                        <input type="radio" name="planoOuCrm" id="planoOuCrm2" class="radioPlanoCRM ms-3">
                        <label for="planoOuCrm2" class="ms-1">CRM</label>
                    </div>
                    <div>
                        <input formControlName="crm" type="text" class="rounded-5 border-1 border-light" id="crmMedico" placeholder="CRM...">
                    </div>
                    <div class="d-flex w-100 justify-content-end">
                        <div class="form-floating ms-5 me-0 mt-0 mb-0" *ngIf="formularioPessoa.get('crm')?.errors?.['required'] && formularioPessoa.get('crm')?.touched">
                            <p class="text-danger">Preencha o CRM ou Plano de Saúde!</p>
                        </div>
                    </div>
                </div>

                <!--Mensagens de Validações Form Medico
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('nome')?.errors?.['required'] && formularioPessoa.get('nome')?.touched">
                    Preencha o Nome!
                </div>
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('dataNasc')?.errors?.['required'] && formularioPessoa.get('dataNasc')?.touched">
                    Preencha a Data de Nascimento!
                </div>
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('cpf')?.errors?.['required'] && formularioPessoa.get('cpf')?.touched">
                    Preencha o CPF!
                </div>
                <div class="alert alert-danger" *ngIf="(formularioPessoa.get('cpf')?.errors?.['minlenght'] || formularioPessoa.get('cpf')?.errors?.['maxlenght'] ||
                formularioPessoa.get('cpf')?.errors?.['pattern']) && formularioPessoa.get('cpf')?.touched">
                    CPF Inválido!
                </div>
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('telefone')?.errors?.['required'] && formularioPessoa.get('telefone')?.touched">
                    Preencha o Telefone!
                </div>
                <div class="alert alert-danger" *ngIf="(formularioPessoa.get('telefone')?.errors?.['minlenght'] || formularioPessoa.get('telefone')?.errors?.['maxlenght'] ||
                formularioPessoa.get('telefone')?.errors?.['pattern']) && formularioPessoa.get('telefone')?.touched">
                    Telefone Inválido!
                </div>
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('email')?.errors?.['required'] && formularioPessoa.get('email')?.touched">
                    Preencha o Email!
                </div>
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('email')?.errors?.['email'] && formularioPessoa.get('email')?.touched">
                    Email Inválido!
                </div>
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('endereco')?.errors?.['required'] && formularioPessoa.get('endereco')?.touched">
                    Preencha o Endereco!
                </div>
                <div class="alert alert-danger" *ngIf="formularioPessoa.get('crm')?.errors?.['required'] && formularioPessoa.get('crm')?.touched">
                    Preencha o CRM!
                </div>-->
                <!--Botao Para Salvar Dados-->
                <div id="cadastrarMedico" class="d-flex justify-content-center mt-5 me-3">
                    <button id="btnCadastrarMedico" class="botaoSalvar rounded-5 fs-5 ms-2 me-2 text-white border-1 border-light" [disabled]="!formularioPessoa.valid" (click)="salvarDados($event)">Salvar Dados</button>
                </div>
            </form>
    </section>
    
    <div id="btnDesligar" class="d-flex justify-content-center mt-5"><img class="botaoDesligar" src="../../../assets/botãoDesligar.png" alt="DESLOGAR"></div>
</div>







<!----------------------------------------------------------------------------------------------------------
<section id="cadastroPaciente">
    <div id="tituloPaciente">Cadastro de Paciente</div>
    <form [formGroup]="formularioPaciente">
        <div class="inputsPaciente">
            <input formControlName="nome" type="text" id="nomePaciente" placeholder="Nome...">
        </div>
        <div class="inputsPaciente">
            <input formControlName="dataNasc" type="date" id="dataNasc">
        </div>
        <div class="inputsPaciente">
            <select id="selectSexoPaciente">
                <option value="M" selected>Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div class="inputsPaciente">
            <input formControlName="cpf" type="text" id="cpfPaciente" placeholder="xxx.xxx.xxx-xx" autocomplete="off">
        </div>
        <div class="inputsPaciente">
            <input formControlName="telefone" type="text" id="telefonePaciente" placeholder="(xx)xxxxx-xxxx" autocomplete="off">
        </div>
        <div class="inputsPaciente">
            <input formControlName="email" type="email" id="emailPaciente" placeholder="exemplo@gmail.com" autocomplete="off">
        </div>
        <div class="inputsPaciente">
            <input formControlName="endereco" type="text" id="enderecoPaciente" placeholder="Nº, Rua, Bairro, Cidade, UF">
        </div>
        <div class="inputsPaciente">
            <input formControlName="planoSaude" type="text" id="planoSaudePaciente" placeholder="Plano de Saúde">
        </div>
        
         Mensagens de Validações Form Paciente
         <div class="alert alert-danger" *ngIf="formularioPaciente.get('nome')?.errors?.['required'] && formularioPaciente.get('nome')?.touched">
            Preencha o Nome!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('dataNasc')?.errors?.['required'] && formularioPaciente.get('dataNasc')?.touched">
            Preencha a Data de Nascimento!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('cpf')?.errors?.['required'] && formularioPaciente.get('cpf')?.touched">
            Preencha o CPF!
        </div>
        <div class="alert alert-danger" *ngIf="(formularioPaciente.get('cpf')?.errors?.['minlenght'] || formularioPaciente.get('cpf')?.errors?.['maxlenght'] ||
        formularioPaciente.get('cpf')?.errors?.['pattern']) && formularioPaciente.get('cpf')?.touched">
            CPF Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('telefone')?.errors?.['required'] && formularioPaciente.get('telefone')?.touched">
            Preencha o Telefone!
        </div>
        <div class="alert alert-danger" *ngIf="(formularioPaciente.get('telefone')?.errors?.['minlenght'] || formularioPaciente.get('telefone')?.errors?.['maxlenght'] ||
        formularioPaciente.get('telefone')?.errors?.['pattern']) && formularioPaciente.get('telefone')?.touched">
            Telefone Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('email')?.errors?.['required'] && formularioPaciente.get('email')?.touched">
            Preencha o Email!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('email')?.errors?.['email'] && formularioPaciente.get('email')?.touched">
            Email Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('endereco')?.errors?.['required'] && formularioPaciente.get('endereco')?.touched">
            Preencha o Endereco!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('planoSaude')?.errors?.['required'] && formularioPaciente.get('planoSaude')?.touched">
            Preencha o Plano de Saúde!
        
            </form>
        </section></div>

        Botao Para Salvar Dados
        <div id="cadastrarPaciente">
            <button id="btnCadastrarPaciente" [disabled]="!formularioPaciente.valid" (click)="salvarDados($event)">Salvar Dados</button>
        </div>-->


<!--

                <div class="inputsPessoa">
                    <label for="nomePessoa">Nome: </label>
                    <input formControlName="nome" type="text" class="rounded-5" id="nomePessoa" placeholder="Nome...">
                </div>
                <div class="inputsPessoa">
                    <label for="nomePessoa">Data de nascimento: </label>
                    <input formControlName="dataNasc" type="date" class="rounded-5" id="dataNasc">
                </div>
                <div class="inputsPessoa">
                    <label for="nomePessoa">Gênero: </label>
                    <select id="selectSexoMedico" class="rounded-5 p-1">
                        <option value="M" selected>Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
                <div class="inputsPessoa">
                    <label for="nomePessoa">CPF: </label>
                    <input formControlName="cpf" type="text" class="rounded-5" id="cpfMedico" placeholder="xxx.xxx.xxx-xx" autocomplete="off">
                </div>
                <div class="inputsPessoa">
                    <label for="nomePessoa">Telefone: </label>
                    <input formControlName="telefone" type="text" class="rounded-5" id="telefoneMedico" placeholder="(xx)xxxxx-xxxx" autocomplete="off">
                </div>
                <div class="inputsPessoa">
                    <label for="nomePessoa">E-mail: </label>
                    <input formControlName="email" type="email" class="rounded-5" id="emailMedico" placeholder="exemplo@gmail.com" autocomplete="off">
                </div>
                <div class="inputsPessoa">
                    <label for="nomePessoa">Endereço: </label>
                    <input formControlName="endereco" type="text" class="rounded-5" id="enderecoMedico" placeholder="Nº, Rua, Bairro, Cidade, UF">
                </div>
                <div class="inputsPessoa">
                    <input formControlName="crm" type="text" class="rounded-5" id="crmMedico" placeholder="CRM...">
                </div>


-->