<!--<div id="imgLogo"><img src="../../../assets/Logo.png" alt="Logo"></div>-->
<div id="botoesDeDirecionamento">
    <button id="btnAgenda">Agenda</button>
    <button id="btnPacientes">Pacientes</button>
    <button id="btnCadastro">Cadastro</button>
</div>
<!--<div id="btnDesligar"><img src="../../../assets/botãoDesligar.png" alt="DESLOGAR"></div>-->
<section id="cadastroMedico">
    <div id="tituloMedico">Cadastro de Médico</div>
    <form [formGroup]="formularioMedico">
        <div class="inputsMedico">
            <input formControlName="nome" type="text" id="nomeMedico" placeholder="Nome...">
        </div>
        <div class="inputsMedico">
            <input formControlName="dataNasc" type="date" id="dataNasc">
        </div>
        <div class="inputsMedico">
            <select id="selectSexoMedico">
                <option value="M" selected>Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div class="inputsMedico">
            <input formControlName="cpf" type="text" id="cpfMedico" placeholder="xxx.xxx.xxx-xx" autocomplete="off">
        </div>
        <div class="inputsMedico">
            <input formControlName="telefone" type="text" id="telefoneMedico" placeholder="(xx)xxxxx-xxxx" autocomplete="off">
        </div>
        <div class="inputsMedico">
            <input formControlName="email" type="email" id="emailMedico" placeholder="exemplo@gmail.com" autocomplete="off">
        </div>
        <div class="inputsMedico">
            <input formControlName="endereco" type="text" id="enderecoMedico" placeholder="Nº, Rua, Bairro, Cidade, UF">
        </div>
        <div class="inputsMedico">
            <input formControlName="crm" type="text" id="crmMedico" placeholder="CRM...">
        </div>

        <!--Mensagens de Validações Form Medico-->
        <div class="alert alert-danger" *ngIf="formularioMedico.get('nome')?.errors?.['required'] && formularioMedico.get('nome')?.touched">
            Preencha o Nome!
        </div>
        <div class="alert alert-danger" *ngIf="formularioMedico.get('dataNasc')?.errors?.['required'] && formularioMedico.get('dataNasc')?.touched">
            Preencha a Data de Nascimento!
        </div>
        <div class="alert alert-danger" *ngIf="formularioMedico.get('cpf')?.errors?.['required'] && formularioMedico.get('cpf')?.touched">
            Preencha o CPF!
        </div>
        <div class="alert alert-danger" *ngIf="(formularioMedico.get('cpf')?.errors?.['minlenght'] || formularioMedico.get('cpf')?.errors?.['maxlenght'] ||
        formularioMedico.get('cpf')?.errors?.['pattern']) && formularioMedico.get('cpf')?.touched">
            CPF Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioMedico.get('telefone')?.errors?.['required'] && formularioMedico.get('telefone')?.touched">
            Preencha o Telefone!
        </div>
        <div class="alert alert-danger" *ngIf="(formularioMedico.get('telefone')?.errors?.['minlenght'] || formularioMedico.get('telefone')?.errors?.['maxlenght'] ||
        formularioMedico.get('telefone')?.errors?.['pattern']) && formularioMedico.get('telefone')?.touched">
            Telefone Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioMedico.get('email')?.errors?.['required'] && formularioMedico.get('email')?.touched">
            Preencha o Email!
        </div>
        <div class="alert alert-danger" *ngIf="formularioMedico.get('email')?.errors?.['email'] && formularioMedico.get('email')?.touched">
            Email Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioMedico.get('endereco')?.errors?.['required'] && formularioMedico.get('endereco')?.touched">
            Preencha o Endereco!
        </div>
        <div class="alert alert-danger" *ngIf="formularioMedico.get('crm')?.errors?.['required'] && formularioMedico.get('crm')?.touched">
            Preencha o CRM!
        </div>
        
        <!--Botao Para Salvar Dados-->
        <div id="cadastrarMedico">
            <button id="btnCadastrarMedico" [disabled]="!formularioMedico.valid" (click)="salvarDados($event)">Salvar Dados</button>
        </div>
    </form>
</section>
<!----------------------------------------------------------------------------------------------------------->
<section id="cadastroPaciente">
    <div id="tituloPaciente">Cadastro de Paciente</div>
    <form [formGroup]="formularioPaciente">
        <div class="inputsPaciente">
            <input formControlName="nome" type="text" id="nomePaciente" placeholder="Nome...">
        </div>
        <div class="inputsPaciente">
            <input formControlName="dataNasc" type="date" id="dataNasc">
        </div>
        <div class="inputsPaciente">
            <select id="selectSexoPaciente">
                <option value="M" selected>Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
        <div class="inputsPaciente">
            <input formControlName="cpf" type="text" id="cpfPaciente" placeholder="xxx.xxx.xxx-xx" autocomplete="off">
        </div>
        <div class="inputsPaciente">
            <input formControlName="telefone" type="text" id="telefonePaciente" placeholder="(xx)xxxxx-xxxx" autocomplete="off">
        </div>
        <div class="inputsPaciente">
            <input formControlName="email" type="email" id="emailPaciente" placeholder="exemplo@gmail.com" autocomplete="off">
        </div>
        <div class="inputsPaciente">
            <input formControlName="endereco" type="text" id="enderecoPaciente" placeholder="Nº, Rua, Bairro, Cidade, UF">
        </div>
        <div class="inputsPaciente">
            <input formControlName="planoSaude" type="text" id="planoSaudePaciente" placeholder="Plano de Saúde">
        </div>
        
         <!--Mensagens de Validações Form Paciente-->
         <div class="alert alert-danger" *ngIf="formularioPaciente.get('nome')?.errors?.['required'] && formularioPaciente.get('nome')?.touched">
            Preencha o Nome!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('dataNasc')?.errors?.['required'] && formularioPaciente.get('dataNasc')?.touched">
            Preencha a Data de Nascimento!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('cpf')?.errors?.['required'] && formularioPaciente.get('cpf')?.touched">
            Preencha o CPF!
        </div>
        <div class="alert alert-danger" *ngIf="(formularioPaciente.get('cpf')?.errors?.['minlenght'] || formularioPaciente.get('cpf')?.errors?.['maxlenght'] ||
        formularioPaciente.get('cpf')?.errors?.['pattern']) && formularioPaciente.get('cpf')?.touched">
            CPF Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('telefone')?.errors?.['required'] && formularioPaciente.get('telefone')?.touched">
            Preencha o Telefone!
        </div>
        <div class="alert alert-danger" *ngIf="(formularioPaciente.get('telefone')?.errors?.['minlenght'] || formularioPaciente.get('telefone')?.errors?.['maxlenght'] ||
        formularioPaciente.get('telefone')?.errors?.['pattern']) && formularioPaciente.get('telefone')?.touched">
            Telefone Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('email')?.errors?.['required'] && formularioPaciente.get('email')?.touched">
            Preencha o Email!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('email')?.errors?.['email'] && formularioPaciente.get('email')?.touched">
            Email Inválido!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('endereco')?.errors?.['required'] && formularioPaciente.get('endereco')?.touched">
            Preencha o Endereco!
        </div>
        <div class="alert alert-danger" *ngIf="formularioPaciente.get('planoSaude')?.errors?.['required'] && formularioPaciente.get('planoSaude')?.touched">
            Preencha o Plano de Saúde!
        </div>

        <!--Botao Para Salvar Dados-->
        <div id="cadastrarPaciente">
            <button id="btnCadastrarPaciente" [disabled]="!formularioPaciente.valid" (click)="salvarDados($event)">Salvar Dados</button>
        </div>
    </form>
</section>