<div class="box d-flex flex-column vh-100 m-0">
    <div class="BotaoVoltar m-5">
        <a routerLink="/sobre"><img src="../../../assets/voltar.png" alt="Imagem de seta de retorno"></a>
    </div>

    <div class="d-flex flex-row justify-content-center align-items-center text-white m-5" >
        <div class="card m-5 p-5 border-1 border-light align-items-center">
            <img class="card-img-top rounded-1" src="../../../assets/fotoGabriel.jpg" alt="Imagem de capa do card">
            <div class="card-body ms-3">
                <h5 class="card-title mb-3">Gabriel Farina</h5>
                <a href="https://www.linkedin.com/in/gabrielbochifarina/" target="_blank" class="me-4 link-grayish"><img src="../assets/iconelinkedin.png" alt="Icone LinkedIn" width="40" height="30">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/GabrielFar" target="_blank" class="me-4 link-grayish text-center"><img src="../assets/iconegithub.png" alt="Icone GitHub" width="40" height="40">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:" target="_blank" class="me-4 link-grayish"><img src="../assets/iconeemail2.png" alt="Icone Email" width="31"   height="31">
                    <i class="fab fa-email"></i>
                </a>
            </div>
        </div>

        <div class="card m-5 p-5 border-1 border-light align-items-center">
            <img class="card-img-top" src="../../../assets/fotoMarilia.jpg" alt="Imagem de capa do card">
            <div class="card-body ms-3">
                <h5 class="card-title mb-3 ms-0 p-0">Marilia A. Alexandre</h5>
                <a href="https://www.linkedin.com/in/marilia-acordi-alexandre-1ba255234/" target="_blank" class="me-4 link-grayish"><img src="../assets/iconelinkedin.png" alt="Icone LinkedIn" width="40" height="30">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/alexandre-ma93" target="_blank" class="me-4 link-grayish text-center"><img src="../assets/iconegithub.png" alt="Icone GitHub" width="40" height="40">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:" target="_blank" class="me-4 link-grayish"><img src="../assets/iconeemail2.png" alt="Icone Email" width="31"   height="31">
                    <i class="fab fa-email"></i>
                </a>
            </div>
        </div>

        <div class="card m-5 p-5 border-1 border-light align-items-center">
            <img class="card-img-top" src="../../../assets/fotoJean.jpg" alt="Imagem de capa do card">
            <div class="card-body ms-3">
                <h5 class="card-title mb-3 ms-0 p-0">Jean da R. Vertuoso</h5>
                <a href="https://www.linkedin.com/in/jean-da-rocha-vertuoso/" target="_blank" class="me-4 link-grayish"><img src="../assets/iconelinkedin.png" alt="Icone LinkedIn" width="40" height="30">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Jean-Vertuoso" target="_blank" class="me-4 link-grayish text-center"><img src="../assets/iconegithub.png" alt="Icone GitHub" width="40" height="40">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:jean_b123@hotmail.com" target="_blank" class="me-4 link-grayish"><img src="../assets/iconeemail2.png" alt="Icone Email" width="31"   height="31">
                    <i class="fab fa-email"></i>
                </a>
            </div>
        </div>

        <div class="card m-5 p-5 border-1 border-light align-items-center">
            <img class="card-img-top" src="../../../assets/fotoLeticia.jpg" alt="Imagem de capa do card">
            <div class="card-body ms-3">
                <h5 class="card-title mb-3 ms-0 p-0">Letícia Suzana Pedro</h5>
                <a href="https://github.com/leticiasu" target="_blank" class="me-4 link-grayish text-center"><img src="../assets/iconegithub.png" alt="Icone GitHub" width="40" height="40">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:jean_b123@hotmail.com" target="_blank" class="me-4 link-grayish"><img src="../assets/iconeemail2.png" alt="Icone Email" width="31"   height="31">
                    <i class="fab fa-email"></i>
                </a>
            </div>
        </div>
    </div>
</div>