input{
    width: 100%;
}

label{
    color: white;
    font-family: Arial, 'Courier New', 'Calibri';
    font-size: larger;
}

option{
    background-color: #50af73;
    color: #ffffff;
}

select{
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    padding: 2%;
    border-style: inset;
    border-width: 0.06cm;
}

.logo{
    width: 180px;
    height: 180px;
}

.botaoDesligar{
    width: 80px;
    height: 80px;
    margin-right: 18%;
}

#btnDesligar{
    width: 10%;
}

input{
    padding: 2.5%;
}

.btnsDirecionamento, #btnAgendar{
    width: 200px;
    background-color: #048436;
    color: white;
    font-family: Arial, 'Courier New', 'Calibri';
}

.dropdown-content {
    position: absolute;
    background-color: #50af73;
    color: #ffffff;
    min-width: 160px;
    width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.modal{
    position: absolute;
    top: 25%;
    right: 50%;
}

#msn{
    font-size: xx-large;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.botaoMenu, .botaoAgendar{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    background: #048436;
}

.botaoAgendar{
    width: 200px;
    cursor: pointer;
}

.botaoMenu:hover, .botaoAgendar:hover{    
    background: #015823;
}
