<div class="bodyDiv">
  <div class="d-flex justify-content-between">
    <div class="mt-0 m-2 d-inline-flex"><img src="../../../assets/Logo.png" alt="" id="logo"></div>
    <div class="m-2 d-block-flex"><img src="../../../assets/botãoDesligar.png" alt="DESLOGAR" id="desligar"></div>
  </div>

  <div class="d-flex justify-content-between">
    <div id="botoesDeDirecionamento" class="m-2 d-flex flex-column">
        <button id="btnAgenda" class="btnsDirecionamento m-1 py-2 rounded">Agenda</button>
        <button id="btnPacientes" class="btnsDirecionamento m-1 py-2 rounded">Pacientes</button>
        <button id="btnCadastro" class="btnsDirecionamento m-1 py-2 rounded">Cadastro</button>
    </div>
    <div id="camposDePesquisa" class="m-2 d-block">
      <div id="medico" class="d-flex align-items-center">
        <div id="labelMedico" class="d-inline me-2">
          <label for="filtroMedico">Medico:</label>
        </div>
        <div id="selecaomedico">
          <input type="search" [(ngModel)]="filtroMedico" (keyup)="filtrarMedicos()" 
          id="filtroMedico" class="rounded p-1 mt-1 d-inline">
        </div>
          <div id="listaMedicos"></div>
      </div>
      <div id="paciente" class="d-flex align-items-center">
        <div id="labelPaciente" class="d-inline me-2">
          <label for="filtroPaciente">Paciente:</label>
        </div>
        <div id="selecaoPaciente">
          <input type="search" [(ngModel)]="filtroPaciente" (keyup)="filtrarPacientes()" 
          id="filtroPaciente" class="rounded p-1 mt-1 d-inline">
        </div>
        <div id="listaPacientes"></div>
      </div>
    </div>
    <div></div>
    <div></div>
  </div>
  
  <div id="agenda">
      <div id="tituloAgenda">Agenda da Semana</div>
      <div id="dia1Div">
          <div id="legendaDia1">Dia 1</div>
          <ul id="dia1Ul">
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="8-8.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="8.30-9"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="9-9.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="9.30-10"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="10-10.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="10.30-11"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="11-11.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="13-13.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="13.30-14"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="14-14.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="14.30-15"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="15-15.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="15.30-16"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="16-16.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="16.30-17"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="17-17.30"></li>
              <li class="Dia 1" (click)='mostrarPopUpAgendamento($event)' itemid="17.30-18"></li>
          </ul>
      </div>
      <div id="dia2Div">
          <div id="legendaDia2">Dia 2</div>
          <ul id="dia2Ul">
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="8-8.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="8.30-9"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="9-9.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="9.30-10"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="10-10.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="10.30-11"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="11-11.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="13-13.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="13.30-14"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="14-14.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="14.30-15"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="15-15.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="15.30-16"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="16-16.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="16.30-17"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="17-17.30"></li>
              <li class="Dia 2" (click)='mostrarPopUpAgendamento($event)' itemid="17.30-18"></li>
          </ul>
      </div>
      <div id="dia3Div">
          <div id="legendaDia3">Dia 3</div>
          <ul id="dia3Ul">
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="8-8.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="8.30-9"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="9-9.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="9.30-10"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="10-10.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="10.30-11"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="11-11.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="13-13.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="13.30-14"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="14-14.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="14.30-15"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="15-15.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="15.30-16"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="16-16.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="16.30-17"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="17-17.30"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="17.30-18"></li>
          </ul>
      </div>
      <div id="dia4Div">
          <div id="legendaDia4">Dia 4</div>
          <ul id="dia4Ul">
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="8-8.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="8.30-9"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="9-9.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="9.30-10"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="10-10.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="10.30-11"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="11-11.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="13-13.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="13.30-14"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="14-14.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="14.30-15"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="15-15.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="15.30-16"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="16-16.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="16.30-17"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="17-17.30"></li>
              <li class="Dia 4" (click)='mostrarPopUpAgendamento($event)' itemid="17.30-18"></li>
          </ul>
      </div>
      <div id="dia5Div">
          <div id="legendaDia5">Dia 5</div>
          <ul id="dia5Ul">
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="8-8.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="8.30-9"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="9-9.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="9.30-10"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="10-10.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="10.30-11"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="11-11.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="13-13.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="13.30-14"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="14-14.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="14.30-15"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="15-15.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="15.30-16"></li>
              <li class="Dia 3" (click)='mostrarPopUpAgendamento($event)' itemid="16-16.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="16.30-17"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="17-17.30"></li>
              <li class="Dia 5" (click)='mostrarPopUpAgendamento($event)' itemid="17.30-18"></li>
          </ul>
      </div>
  </div>
  <!--PopUp de Mensagem de Agendamento de Consulta-->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyleAgendamento}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>Deseja Selecionar Este Horário?</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" 
                  (click)="closePopupAgendamento()">
            Cancelar
          </button>
          <button type="button" class="btn btn-success" 
                  (click)="closePopupAgendamento(); gravarAgendamento()">
            Cofirmar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--PopUp de Mensagem de Cancelamento de Consulta-->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyleCancelamento}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>Deseja Cancelar a Consulta Deste Horário?</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" 
                  (click)="closePopupCancelamento()">
            Cancelar
          </button>
          <button type="button" class="btn btn-success" 
                  (click)="closePopupCancelamento(); cancelarAgendamento()">
            Cofirmar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--PopUp de Mensagem de Informação sobre Agendamento-->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyleMsn}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>{{popUpMsn}}</p>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" 
                  (click)="closePopupMsn()">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>