<div class="p-0 mb-0 text-dark" >

    <div class="BotaoVoltar d-flex align-items-center justify-content-between m-5">
        <div>
            <a routerLink="/"><img src="../../assets/voltar.png" alt=""></a>
        </div>
        <div>
            <a routerLink="/contato"><button type="button" class="botaoTopo rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Contato</button></a>
            <a routerLink="/sobre"><button type="button" class="botaoTopo rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Sobre</button></a>
        </div>
    </div>

    <div class="Logo d-flex justify-content-center align-items-center m-3">
        <img class="foto" src="../../assets/Logo.png" alt="">
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-0 mb-0 pt-0 pb-0">

        <div class="input-group mb-3">
            <input type="text" class="form-control rounded-5 p-2 text-white fs-5 border-1 border-light" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Digite seu usuário">
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control rounded-5 p-2 text-white fs-5 border-1 border-light" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Digite sua senha">
        </div>

        <div class="input-group mb-3 justify-content-center">
            <button type="button" class="botao rounded-5 p-3 text-white fs-6 fw-bold border-1 border-light">Efetuar login</button>
        </div>
    </div>

</div>