<div class="box d-flex flex-column vh-100 p-0 m-0 vw-100">
    <div class="BotaoVoltar d-flex align-items-center justify-content-between m-5">
        <div class="botoesTopo">
            <a routerLink="/login"><img src="../../assets/voltar.png" alt=""></a>
        </div>
        <div class="botoesTopo">
            <a routerLink="/integrantes"><button type="button" class="botaoTopo rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Integrantes</button></a>
        </div>
    </div>

        <div class="caixaTexto mb-4 mt-4 p-3 rounded-2 text-white">
            <div class="card-header fs-4">
              <h2>Missão</h2>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>A Doc Plus deseja auxiliar tanto pacientes, quanto clínicas na eficácia de seu atendimento, deixando mais tempo para as coisas importantes da vida.</p>
              </blockquote>
            </div>
          </div>

          
        <div class="caixaTexto mb-4 mt-4 p-3 rounded-2 border-light text-white">
            <div class="card-header fs-4">
              <h2>Visão</h2>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>A nossa empresa acredita que pode melhorar o mundo com soluções simples, geradas por profissionais capacitados e prontos para o futuro.</p>
              </blockquote>
            </div>
          </div>

          <div class="caixaTexto mb-4 mt-4 p-3 rounded-2 border-light text-white">
            <div class="card-header fs-4">
              <h2>Valores</h2>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Trabalho em equipe, confiança, sentimento de dono, entre outros valores são os requisitos para colaborar com o crescimento e funcionamento da empresa e para o crescimento pessoal e profissional de cada um.</p>
              </blockquote>
            </div>
            </div>
        
</div>