*{
    font-family: Arial, Helvetica, sans-serif;
}

.caixaTexto{
    background: #50af73;
    width: 88vw;
    height: 20%;
    margin-left: 6%;
    border-style: inset;
    border-width: 0.06cm;
}

.botoesTopo{
    margin-top: 2.1%;
}

.BotaoVoltar{
    width: auto;
    height: 5%;
    margin-top: 12%;
}

.botao{    
    background: #048436;
}

.botaoTopo{
    width: 155px;    
    background: #048436;
}

.botao:hover, .botaoTopo:hover{    
    background: #015823;
}