<div class="box d-flex flex-column vh-100 p-0 m-0 vw-100">
    <div class="BotaoVoltar d-flex align-items-center justify-content-between m-5">
        <div>
            <a routerLink="/"><img src="../../assets/voltar.png" alt=""></a>
        </div>
        <div>
            <a routerLink="/integrantes"><button type="button" class="botaoTopo rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Integrantes</button></a>
        </div>
    </div>

        <div class="caixaTexto mb-4 mt-4 p-3 rounded-2 border-light text-white">
            <div class="card-header fs-4">
              Missão
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
            </div>
          </div>

          
        <div class="caixaTexto mb-4 mt-4 p-3 rounded-2 border-light text-white">
            <div class="card-header fs-4">
              Visão
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
            </div>
          </div>

          <div class="caixaTexto mb-4 mt-4 p-3 rounded-2 border-light text-white">
            <div class="card-header fs-4">
              Valores
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
            </div>
            </div>
        
</div>