<section class="d-flex flex-column justify-content-center align-items-center vh-100 vw-100">
    <div class="d-flex flex-wrap flex-column justify-content-center align-items-center">
        <img class="fotoLogo m-0 p-0" src="../../../assets/Logo.png" alt="Logo da Empresa">
        <h1 class="text-white mb-3">Eu sou:</h1>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item m-2">
                <button class="botaoMenu rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Médico</button>
            </li>
            <li class="nav-item m-2">
                <button class="botaoMenu rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Paciente</button>
            </li>
            <li class="nav-item m-2">
                <button class="botaoMenu rounded-5 p-3 fs-4 ms-2 me-2 text-white border-1 border-light">Administrativo</button>
            </li>
        </ul>
    </div>
</section>