<!--<div id="imgLogo"><img src="../../../assets/Logo.png" alt=""></div>-->
<div id="botoesDeDirecionamento">
    <button id="btnAgenda">Agenda</button>
    <button id="btnPacientes">Pacientes</button>
    <button id="btnCadastro">Cadastro</button>
</div>
<!--<div id="btnDesligar"><img src="../../../assets/botãoDesligar.png" alt="DESLOGAR"></div>-->
<div id="divSalvarDados" class='d-flex sticky-top justify-content-center'>
    <button id='salvarDados'>Salvar Dados</button>
</div>
<div id="listaPacientes"></div>